@import "styles/vars.m.scss";

.menu {
  position: relative;
  button {
    position: relative;
    z-index: 6;
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    border: none;
    background: $main-light;
    border-radius: 4px;
    svg {
      width: 18px;
      height: 18px;
      fill: $background;
    }
    &:hover {
      cursor: pointer;
      svg {
        fill: $accent;
      }
    }
  }
}

.title {
  margin: 20px 0;
  color: $accent;
  text-align: center;
}

.dropout {
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 0 10px;
  background: $background-light;
  box-shadow: 0 0 12px $accent;
  color: $main-light;
  transform: translateX(calc(-100% - 20px));
  transition: .3s ease-out;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
    span {
      display: block;
      margin-top: 32px;
      margin-bottom: 16px;
      color: darken($main-light, 30%);
      font-size: 18px;
    }
    li {
      padding: 6px;
      margin-bottom: 12px;
      background: $background;
      border-radius: 4px;
      font-size: 14px;
      &:hover {
        background: $accent;
        cursor: pointer;
      }
    }
  }
  & > ul > li {
    margin-bottom: 10px;
  }
}

.visible {
  transform: translateX(0);
}
