@import "styles/vars.m.scss";

.buttonValueModal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  overflow: auto;
  width: 360px;
  height: 480px;
  flex-wrap: wrap;
  padding: 20px 20px 40px;
  background: $background-light;
  border-radius: 8px;
  box-shadow: 0 0 12px $accent;
  color: $main-light;
  opacity: 0;
  pointer-events: none;
  transition: 0;
}

.visible {
  opacity: 1;
  pointer-events: all;
  transition: .3s;
}

.title {
  display: block;
  width: 100%;
  margin: 20px 5px 10px;
  font-size: 18px;
  font-weight: 600;
}

.tooltip {
  position: absolute;
  z-index: 2;
  top: calc(100% + 5px);
  left: 50%;
  display: none;
  padding: 5px 15px;
  background: $background;
  border-radius: 4px;
  box-shadow: 0 0 6px $accent;
  font-size: 14px;
  transform: translateX(-50%);
}

.button {
  position: relative;
  display: inline-flex;
  height: 36px;
  padding: 8px;
  border: 1px solid;
  margin: 5px;
  border-radius: 8px;
  &:hover {
    background: $accent;
    cursor: pointer;
    .tooltip {
      display: block;
    }
  }
}
