@import "styles/vars.m.scss";

.layoutBuilder {
  display: flex;
  min-width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: stretch;
  transition: .1s;
}

.blurred {
  filter: blur(6px);
  pointer-events: none;
}

.layoutOptions {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($background, .3);
  transition: .3s;
}

.layoutOptionsVisible {
  top: 0;
}

.showOptionsButton {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 50%;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: $main-light;
  transform: translateX(-50%);
  svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: $main-light;
  }
  &:hover {
    color: $accent;
    cursor: pointer;
    svg {
      fill: $accent;
    }
  }
}

.layoutContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
