@import "styles/vars.m.scss";

.key {
  position: relative;
  display: flex;
  width: $button-size;
  height: $button-size;
  align-items: center;
  justify-content: center;
  border: 1px solid $main-light;
  background: none;
  border-radius: 10px;
  font-size: 14px;
  word-break: break-all;
  &:after {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 2px solid $main-light;
    border-radius: 10px;
    content: "";
    opacity: 0;
    transition: .1s;
  }
  &:hover {
    cursor: pointer;
    &:after {
      opacity: 1;
    }
  }
}

.active {
  border-width: 2px;
  box-shadow: 0px 0px 16px $accent;
}

.disabled {
  opacity: 60%;
  pointer-events: none;
}
