@import "styles/vars.m.scss";

:global(*) {
  box-sizing: border-box;
  font-family: sans-serif;
  &::-webkit-scrollbar {
    width: 14px;
  }
   
  &::-webkit-scrollbar-track {
    margin: 0 8px;
    border-radius: 0 8px 8px 0;
    opacity: 0;
  }
   
  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: $accent;
    border-radius: 100px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background: $background;
}
