@import "styles/vars.m.scss";

.loader {
  position: relative;
  display: inline-block;
  animation: rotation ease-in 1s infinite;
  border-radius: 50%;
  &:after {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50%;
    height: 50%;
    animation: scale ease-in 1s infinite;
    background: $accent;
    border-radius: 50%;
    content: "";
  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }   
  to {
    transform: rotate(360deg);
  }   
}

@keyframes scale {
  0% {
    transform: scale(.3);
  }   
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(.3);
  }   
}
